<div class="container">
    <div class="row">
       
            <h2 class="bg-primary text-white">Car Ride registartion form</h2>
           
            <form [formGroup]="offerRideForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" class="form-control" formControlName="name">
                  <div *ngIf="offerRideForm.get('name')?.hasError('required') && offerRideForm.get('name')?.touched" class="text-danger">Name is required.</div>
                </div>
              
                <div class="form-group">
                  <label for="startLocation">Start Location</label>
                  <input type="text" id="startLocation" class="form-control" formControlName="startLocation">
                  <div *ngIf="offerRideForm.get('startLocation')?.hasError('required') && offerRideForm.get('startLocation')?.touched " class="text-danger">Start Location is required.</div>
                </div>
              
                <div class="form-group">
                  <label for="destination">Destination</label>
                  <input type="text" id="destination" class="form-control" formControlName="destination">
                  <div *ngIf="offerRideForm.get('destination')?.hasError('required') && offerRideForm.get('destination')?.touched" class="text-danger">Destination is required.</div>
                </div>
              
                <div class="form-group">
                  <label for="car">Car</label>
                  <input type="text" id="car" class="form-control" formControlName="car">
                  <div *ngIf="offerRideForm.get('car')?.hasError('required') && offerRideForm.get('car')?.touched " class="text-danger">Car is required.</div>
                </div>
              
                <div class="form-group">
                  <label for="seatsAvailable">Seats Available</label>
                  <input type="number" id="seatsAvailable" class="form-control" formControlName="seatsAvailable">
                  <div *ngIf="offerRideForm.get('seatsAvailable')?.hasError('required') && offerRideForm.get('seatsAvailable')?.touched" class="text-danger">Seats Available is required.</div>
                  <div *ngIf="offerRideForm.get('seatsAvailable')?.hasError('seatsRange') && offerRideForm.get('seatsAvailable')?.touched" class="text-danger">Seats should be between 1 and 8.</div>
                </div>
              
                <button type="submit" [disabled]="offerRideForm.invalid" class="btn btn-primary">Submit</button>
              </form>
              

    
</div>
</div>